auto-py-to-exe==2.35.0
Crypto.Cipher==1
cryptography==41.0.1
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
psutil==5.9.5
py2exe==0.13.0.0
PyAudio==0.2.13
PyAutoGUI==0.9.54
pycparser==2.21
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyperclip==1.8.2
requests==2.31.0
urllib3==2.0.2
wget==3.2
